.div_main__Audience {
    height: 4rem;

}
.div2_main__Audience{
    height: 100%;
    border-bottom: solid 2px;
    border-bottom-color: #4dccff;
    min-width: 228px;

}
.div_imageProfile__Audience{
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.div2__imageProfile__Audience{
    background: white;
    border-radius: 50%;
    min-width: 46px;
    max-width: 46px;
    min-height: 46px;
    max-height: 46px;
    background: linear-gradient(45deg , #7fe8ff, white, #7fe8ff);
}
.img_profile__Audience {
    font-size: 20px !important;
}
.div_nameAudience__Audience{
    width: calc(100% - 48px);
    /*border-top: solid 2px black;*/
}
.div2_nameAudience__Audience{
    width: 100%;
    height: 100%;
}

.h3_fullName__Audience {
    font-size: 23px;
    background: linear-gradient(45deg , #414141, #0088ff, black);
    background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    color: rgba(0,0,0,.2);
}