@font-face{
    font-family: 'josefin_semi';
    src: url(assets/fonts/JosefinSans-SemiBold.ttf);
}
@font-face{
    font-family: 'josefin_regular';
    src: url(assets/fonts/JosefinSans-Regular.ttf);
}
@font-face {
    font-family: 'josefin_bold';
    src: url(assets/fonts/JosefinSans-Bold.ttf);
}
@font-face {
    font-family: 'josefin_bold_Italic';
    src: url(assets/fonts/JosefinSans-ThinItalic.ttf);
}
* {
    font-family: 'josefin_semi' ;
    margin: 0;
    padding: 0;
}
#root {
    margin: 0;
}
.main2 {
    display: flex;
    justify-content: center;
    max-width: 480px;
    min-width: 240px;
    max-height: 720px;
    min-height: 500px;
    margin: auto;
}

.head_name__login {
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-width: 98%;
    flex-wrap: wrap;
    margin: 25px 0;
}
.h1_siteName__login {
    font-family: 'josefin_bold_Italic', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    min-width: 100%;
    text-align: center;
    background: linear-gradient(to right, #00d5ff, rgb(0, 98, 255));
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    margin-bottom: 15px;
    text-shadow: black 5px 5px 5px;
}
.head_name__login h3{
    min-width: 100%;
    text-align: center;
    font-size: 22px;
}
.main_form__login {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.form__login {
    display: block;
    text-align: center;
}
.div_inputName__login{
    width: 100%;
    text-align: center;
}
.input_username__login{
    border-radius: 15px;
    text-align: center;
    max-width: 235px;
    min-width: 235px;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 25px;
    border: teal solid 1px;
    box-shadow: rgba(0, 31, 31, 0.38) 4px 3px 3px;
    background: #d6d6d6;
}
.input_username__login::placeholder{
    color: rgb(0, 0, 0);
}
.select_gender__login {
    font-family: 'josefin_semi', sans-serif;
    height: 25px;
    width: 100px;
    margin: auto 0 20px 0;
    border: rgb(50, 184, 205) 1px solid;
    box-shadow: rgba(0, 128, 128, 0.395) 4px 3px 3px;
}
option {
    font-family: 'josefin_semi', cursive;
}
.span_username_in_welcome__login {
    color: rgb(0, 162, 255);
    font-family: 'josefin_bold_Italic', sans-serif;
}

.div_Specifications__login {
    display: flex;
    justify-content: center;
    color: rgb(26, 186, 255);
    font-family: 'josefin_bold', sans-serif;
    font-size: 25px;

}
.div_Specifications__login p{
    margin:0 8px;
    color: rgb(255, 183, 0);
}
.div_Specifications__login span{
    background: linear-gradient(to right, rgb(255, 91, 167), rgb(116, 197, 255));
    -webkit-background-clip: text;
    color: rgba(0, 0, 0, 0);
    text-shadow: rgba(109, 255, 238, 0.565) 3px 3px 3px;
}
.div_btnNext__login {
    width: 100%;
    min-height: 100px;
    max-height: 250px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.btn_submit__login {
    font-family: 'josefin_bold', sans-serif;
    font-size: 18px;
    height: 35px;
    width: 80px;
    border-radius: 0 8px 10px;
    border: 0;
    background-color: black;
    color: white;

}
#image {
    width: 50px;
    height: 50px;
    background: url("assets/logo/alarm.png");
    background-size: 100%;
}
.beautyAlert {
    /*width: 0 !important;*/
    /*height: 0 !important;*/
    width: 400px;
    min-width: 200px;
    height: 225px;
    min-height: 100px;
    position: absolute !important;
    top: 180px !important;
    margin: auto;
    background: #d6d6d6;
    left: 515px !important;
    right: 515px !important;
    bottom: 180px !important;
}