* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.div_main_Home {
    background: #e3729c;
    overflow-y: hidden;
    height: 100vh;
    /*height: 100% !important;*/
    /*min-height: 420px;*/
/*    max-height: 760px;*/
/*    min-height: 758px;*/
}
.div_main3___home {
    padding-top: 5px !important;
}
.section_left__contacts___home {
    background: linear-gradient(25deg , #0095ff, #41c8ff, #b8e9ff);
}
/*.div_mainSection__section___home {*/

/*}*/

/*.header_search__section___home {*/
/*    width: 100%;*/
/*    height: 3.5rem;*/
/*    */
/*}*/
/*.div_iconMenu_header__section___home{*/
/*    width: 3.5rem;*/
/*    height: 3.5rem;*/


/*}*/
.div2__iconMenu_header__section___home{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.div2__iconMenu_header__section___home:hover {
    background: rgba(2, 171, 255, 0.4);
}
.img_iconMenu_header__section___home{
    background: url("../page/assets/logo/menu_icon.png") no-repeat;
    background-size:cover;
    width: 40px;
    height: 40px;
}
.row * {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.img_iconMenu_header__section___home:hover {
    background: url("../page/assets/logo/menu_icon_hover.png") no-repeat;
    background-size:cover;
}

/*.div_searchBox_header__section___home{*/
/*    width: calc(100% - 3.5rem);*/
/*    height: 3.5rem;*/
/*}*/
.inp_search_header__section___home {
    width: 90%;
    height: 2rem;
    border-radius: 5px;
    text-align: center;
    border: 2px solid rgb(109, 109, 109);
}
.inp_search_header__section___home:hover {
    border: 3px solid rgba(255, 0, 137, 0.6);
    height: 2.2rem;
}


.div2__contacts__bottomSearch__section___home{
    overflow-y: auto;
    max-height: calc(100vh - (2.82rem + 25px));
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-button{

}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


.div_none__home {
    height: 24px;
    border-bottom: dashed #4dccff 2px;
}





.line_between__sectionAndMain___home {
    min-height: 100% !important;
    width: 1px !important;
    background: linear-gradient(rgba(0, 169, 255, .1),rgba(0, 169, 255, .1),
    rgb(0, 123, 255), rgba(2, 171, 255, 0.1));
}
/*footer {*/
/*    background: rgba(255, 230, 2, .2);*/
/*    height: 3.1rem;*/
/*    width: 100%;*/
/*    left: auto !important;*/
/*    right: auto !important;*/
/*    display: flex;*/
/*}*/
/*.inp_massage__footer__main___home {*/
/*    height: 100%;*/
/*    width: 48rem;*/
/*    border: 0;*/
/*    background: rgba(255, 230, 2, .2);*/
/*    padding-left: 40px;*/
/*}*/
/*main{*/
/*    width: 60rem;*/
/*}*/
@media only screen and (max-width: 768px) {
    .main_chatroom__contents___home {
        visibility: hidden !important;
        height: 0;
        width: 0;
    }
    .line_between__sectionAndMain___home{
        visibility: hidden !important;
        height: 0;
        width: 0;
    }
}